.sign-up-form {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 1rem;
  margin-top: -15rem;

}

input {
  padding: .5rem;
  margin-bottom: .3rem;
  border-radius: 5px;
  width: 20rem;
}

.form-button {
  padding: .2rem;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}